<pack-card-dialog id="pack-card-dialog">
  <dialog
    class="pack-add-modal dialog-modal color-{{ settings.popover_color_scheme }}"
    ref="dialog"
    scroll-lock
  >
    <button
      ref="closeButton"
      on:click="/closeDialog"
      class="button button-unstyled close-button pack-add-modal__close"
      aria-label="{{ 'accessibility.close_dialog' | t }}"
    >
      <span>
        {{- 'icon-arrow.svg' | inline_asset_content -}}
      </span>
      <span>
        {{ 'products.product.back_button' | t }}
      </span>
    </button>
    <div class="pack-add-modal--inner section section--page-width ">
        <div
        id="pack-add-modal-content"
        class="pack-add-modal__content"
        ></div>
    </div>
  </dialog>
</pack-card-dialog>

{% stylesheet %}
  .pack-add-modal {
    padding: 0;
    border: 0;
    border-radius: 0;
    height: calc(100vh - calc(var(--header-static-height) - 1px)); /* Subtract header height */
    margin-top: calc(var(--header-static-height) - 1px); /* Push modal down by header height */
    max-height: unset;
    /* overflow: hidden; */
    width: 100%;
    max-width: 100%;
    display: none;
    visibility: hidden;
    opacity: 0;

    &[open]::backdrop {
        display: none !important;
    }

    @media screen and (max-width: 750px) {
      /* position: fixed; */
      display: block;
      margin: auto 0 0 0;
      min-height: unset;
      max-width: 100%;
      border-radius: 0;
    }
  }
  
  .close-button svg {
      @media screen and (min-width: 750px) {
          width: var(--icon-size-lg);
          height: var(--icon-size-lg);
      }
  }

  .pack-add-modal .view-more-details__wrapper {
    @media screen and (max-width: 750px) {
      display: none;
    }
  }

  .pack-add-modal[open] {
    /* animation: modalSlideInTop var(--animation-speed) var(--animation-easing) forwards; */
    animation: unset ;
    visibility: visible;
    opacity: 1;
    visibility: visible;

    @media screen and (min-width: 750px) {
        display: flex;
        justify-content: center;
    }
  }

  .pack-add-modal.dialog-closing {
    /* animation: modalSlideOutTop var(--animation-speed) var(--animation-easing) forwards; */
    animation: unset !important;
  }

    .pack-add-modal__close {
        position: absolute;
        top: var(--margin-3xs);
        left: var(--page-margin);
        width: fit-content;
        border-radius: 0;
        gap: var(--gap-2xs);
        /* transition: transform 0.15s var(--animation-timing-bounce); */
        z-index: var(--layer-raised);
        outline: none !important;

        @media (max-width: 750px) {
            left: var(--padding-lg);
        }
    }

    .pack-add-modal__close svg {
      transform: scale(-1);
    }

    .pack-add-modal--inner {
        padding-top: 4rem;
        padding-bottom: 3rem;

        @media screen and (max-width: 750px) {
            --page-margin: 0px;
            padding-top: 3rem;
        }
    }

  .pack-add-modal__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100% 1fr;
    /* overflow-y: auto; */
    position: relative;
    width: 100%;

    @media screen and (max-width: 750px) {
        --page-margin: 0px;
      display: flex;
      flex-direction: column;
      /* padding-inline: var(--padding-xl);
      padding-block: var(--padding-xl); */
      padding: 0;
      gap: var(--gap-lg);
      flex: 1;
      min-height: 0;
      overflow-y: auto;
      height: 100%; /* Prevent a bug in Safari where height:fit-content is not respected */
    }

    @media (min-width: 751px) {
      max-height: calc(100svh - var(--header-static-height));
    }
  }

  .pack-add-modal__content .media-gallery--grid .media-gallery__grid {
    grid-template-columns: 1fr;
  }

  .pack-add-modal__content .media-gallery--grid.media-gallery--two-column .product-media-container:first-child {
    grid-column: auto;
  }

  .pack-add-modal__content .view-more-details__wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .view-more-details__wrapper .view-more-details {
    display: flex;
    align-items: center;
    width: fit-content;
  }

  .pack-add-modal__content .product-header {
    @media screen and (max-width: 750px) {
      display: flex;
      flex-direction: column;
      grid-column: 2 / -1;
      grid-row: 2;
      padding-right: var(--padding-2xl);
    }
  }

  .pack-add-modal__content .product-header a:not(product-price *) {
    @media screen and (max-width: 749px) {
      font-size: var(--font-size--md);
      font-weight: 500;
      color: inherit;
      width: fit-content;
    }
  }

  .pack-add-modal__content variant-picker,
  .pack-add-modal__content product-form-component {
    @media screen and (max-width: 750px) {
      position: fixed;
      bottom: 1rem;
      width: 100%;
      left: 0;
      grid-column: 1 / -1;
      padding-inline: var(--padding-lg);
    }
  }

  .pack-add-modal__content .variant-picker__form {
    display: block;
  }

  .pack-add-modal__content .variant-option + .variant-option {
    margin-top: var(--padding-lg);
  }

  .pack-add-modal__content .product-media-container__zoom-button {
    cursor: default;
  }

  .pack-add-modal__content .product-details {
    grid-column: 4 / -1;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;

    dialog[open] & {
      animation: unset;
      /* animation-delay: 0.1s; */
    }

    @media (min-width: 750px) {
      padding-inline-start: 7rem;
    }

    @media screen and (max-width: 750px) {
      grid-column: 1 / -1;
      grid-row: span 1;
      overflow-y: auto;
      height: auto;
      padding-inline: var(--padding-lg);
      padding-bottom: 8svh;
      width: 100%;
    }
  }

  .pack-add-modal__content > * {
    min-height: 0;
  }

  .pack-add-modal__content .product-details :is(.view-product-title, .pack-buttons-block) {
    flex: 0 0 auto;
  }

  .pack-add-modal__content .product-details .variant-picker {
    --product-swatches-padding-block-end: 0px;

    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0;
    padding-block-end: calc(
      var(--product-swatches-padding-block-end) + var(--focus-outline-offset) + var(--focus-outline-width)
    );
  }

  .pack-add-modal__content .variant-option--swatches {
    padding-inline-start: var(--padding-2xs);
  }

  .pack-add-modal__content .variant-option--swatches legend {
    margin-inline-start: calc(-1 * var(--padding-2xs));
  }

  .pack-add-modal__content:not(:has(.pack-information__media)) .product-details {
    grid-column: 1 / -1;
  }

  .pack-add-modal__content .view-product-title {
    display: flex;
    padding: 0;

    @media (max-width: 749px) {
      margin-bottom: var(--padding-lg);
    }
    /* Prevent overlap between title and close button */
  }

  .pack-add-modal__content .view-product-title a {
    color: inherit;
    text-decoration: none;
    text-align: left;
    font-size: var(--font-size--4xl);
    font-weight: bold;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    /* transition: color 0.2s var(--animation-easing); */

    @media (max-width: 749px) {
        font-size: var(--font-size--2xl);
    }
  }

  .pack-add-modal__content .view-product-title {
    display: flex;
  }

  .pack-add-modal__content
    .product-details
    *:not(
      .group-block,
      .group-block-content,
      .pack-buttons-block,
      .pack-buttons-block *,
      .view-product-title,
      .view-product-title *,
      variant-picker,
      variant-picker *,
      pack-picker,
      pack-picker *,
      product-price,
      product-price *,
      product-inventory,
      product-inventory *,
      .view-more-details__wrapper,
      .view-more-details__wrapper *
    ) {
    @media screen and (min-width: 750px) {
      /* stylelint-disable-next-line declaration-no-important */
      display: none !important;
    }
  }

  .pack-add-modal__content
    .group-block:not(
      :has(
          .pack-buttons-block,
          .pack-buttons-block *,
          .view-product-title,
          .view-product-title *,
          variant-picker,
          variant-picker *,
          pack-picker,
          pack-picker *,
          product-price,
          product-price *,
          product-inventory,
          product-inventory *,
          .view-more-details__wrapper,
          .view-more-details__wrapper *
        ),
      .pack-buttons-block
    ) {
    display: none;
  }

  @media screen and (min-width: 750px) {
    .pack-add-modal__content .group-block-content {
      gap: min(var(--gap-2xl), var(--gap));
    }

    .pack-add-modal__content .media-gallery__grid {
      gap: min(var(--gap-2xs), var(--image-gap));
      border-radius: var(--style-border-radius-popover, 0);
    }

    .pack-add-modal__content .media-gallery--grid .pack-media img {
      border-radius: 0;
    }

    .pack-add-modal__content .media-gallery--grid .product-media-container {
      border-radius: var(--style-border-radius-popover, 0);
    }
  }

  .pack-add-modal__content .product-details > .group-block {
    /* padding: var(--padding-2xl); */
    padding: 0;
    max-height: 100%;
  }

  .pack-add-modal__content slideshow-slide:not([aria-hidden='false']) {
    content-visibility: auto;
  }

  .pack-add-modal__content .pack-information__media {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1;
    position: relative;
    top: 0;
    /* animation: fadeIn 0.4s var(--animation-timing-fade-in) both; */

    @media screen and (min-width: 750px) {
      grid-column: 1 / 4;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .pack-add-modal__content .pack-information__media media-gallery {
    pointer-events: none;
    position: relative !important;

    @media screen and (min-width: 750px) {
      position: absolute;
      inset: 0;
    }
  }

  .pack-add-modal media-gallery {
    padding: 0;
  }

  .pack-add-modal__content .pack-information__media slideshow-arrows {
    display: none;
  }

  .pack-add-modal__content .pack-information__media slideshow-container {
    display: block;
  }

  .pack-add-modal__content .pack-information__media slideshow-slides {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2xs);
    overflow: visible;
    scroll-snap-type: none;
  }

  .pack-add-modal__content .pack-information__media slideshow-slide {
    width: 100%;
    flex: none;
    scroll-snap-align: unset;
    position: relative;
    transform: none;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s var(--animation-easing);
  }

  .pack-add-modal__content .pack-information__media slideshow-slide[aria-hidden='true'] {
    @media screen and (max-width: 750px) {
      display: none;
    }
  }

  .pack-add-modal__content .pack-information__media slideshow-slide:nth-child(1) {
    animation: fadeSlideIn 0.3s var(--animation-timing-fade-in) both;
  }

  .pack-add-modal__content .pack-information__media slideshow-slide:nth-child(2) {
    animation: fadeSlideIn 0.3s var(--animation-timing-fade-in) both;
    animation-delay: 0.05s;
  }

  .pack-add-modal__content .pack-information__media slideshow-slide:nth-child(3) {
    animation: fadeSlideIn 0.3s var(--animation-timing-fade-in) both;
    animation-delay: 0.1s;
  }

  .pack-add-modal__content .pack-information__media slideshow-controls {
    display: none;
  }

  .pack-add-modal__content .sticky-content,
  .pack-add-modal__content .sticky-content--desktop {
    top: 0;
  }

  .pack-add-modal__content .text-block.rte:not(product-price),
  .pack-add-modal__content .view-more-details__wrapper {
    display: none;
  }

  @keyframes fadeSlideIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
{% endstylesheet %}
