.button-unstyled.slideshow-control.slideshow-control--shape-circle {
    width: var(--minimum-touch-target);
    height: var(--minimum-touch-target);
}


slideshow-controls.carousel-controls:has(.icon-pause) {
    justify-content: center !important;
}

slideshow-controls.carousel-controls .icon-pause,
slideshow-controls.carousel-controls .icon-play {
    display: none !important;
}

.text-block:not(.text-block--full-width):is(.h1,.h2,.h3,.h4,.h5,.h6) {
    text-wrap: unset !important;
}

:root {
    --button-padding-block: 12px !important;
}

.text-block:not(.text-block--full-width).rte, .text-block:not(.text-block--full-width).paragraph {
    text-wrap: unset !important;
}
 
.button {
    font-weight: var(--font-accent--weight);
}

.header__column--left:has(.active-desktop-drawer) header-menu {
    display: none !important;
}

.header__drawer.active-desktop-drawer .menu-drawer__close-button {
    margin-left: auto;
}

.header__icon--summary .header-drawer-icon, .header-actions__action svg {
    width: var(--icon-size-lg) !important;
    height: var(--icon-size-lg) !important;
}

header-actions .account-button.header-actions__action {
    height: 100%;
}

.menu-drawer__close-button {
    border-radius: 50%;
    background: var(--color-foreground) !important;
    color: var(--color-background) !important;
    padding: var(--padding-md) !important;
    margin-top: var(--drawer-padding);
    margin-right: var(--drawer-padding);
}
.cart-bubble__background {
    background-color: #FFEDCA !important;
}

.header-actions__cart-icon .cart-bubble__text, .cart-drawer__heading .cart-bubble__text {
    font-family: var(--font-accent--family) !important;
    font-weight: var(--font-accent--weight) !important;
}

.header-actions__cart-icon .cart-bubble {
    width: var(--cart-bubble-size) !important;
}

.unit-price {
    display: none;
}

.menu-drawer__menu-item--mainlist {
    line-height: 1.2em !important;
}

.group-block .background-image-container.zoom-on-hover img, .zoom-on-hover img {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .3s;
}

.group-block:hover .background-image-container.zoom-on-hover img, .group-block__link:hover~.group-block-content .zoom-on-hover img, .zoom-on-hover:hover img,
.featured-blog-posts-card__link:hover ~ .featured-blog-posts-card__inner .zoom-on-hover img {
    transform: scale(1.03);
}

.zoom-on-hover {
    overflow: hidden;
    display: block;
    width: 100%;
}


slideshow-arrows {
    mix-blend-mode: unset;
}
slideshow-arrows .slideshow-control {
    color: var(--button-background-color);
}

.product-badges__badge {
    line-height: 1em;
}

.use-height-icon img, .use-height-icon svg {
    width: auto !important;
    height: var(--height) !important;
    object-fit: contain;
}

.slideshow-controls__dots button {
    --size: .4rem;
}

.email-signup__input, .email-signup__button--text {
    padding: var(--padding-sm) var(--padding-3xl) !important;
}

.section--page-narrow {
  --page-margin: 16px;
  --page-width: calc(78rem + (var(--page-margin) * 2)) !important;
}

    
.header-actions__cart-icon {
    --cart-bubble-size: 16px !important;
    --cart-bubble-top: -4.5px !important;
    --cart-bubble-right: -5.5px !important;
}

.header-actions__cart-icon.header-actions__cart-icon--has-cart svg {
    mask: unset !important;
}

.avid-left-fab-button .avid-left-fab-button-icon {
    width: auto;
}
.avid-right-slide-text {
    display: flex;
    flex-direction: row;
    gap: var(--gap-xs);
}

.cart-discount .disclosure-trigger {
    padding-block: 0;
}

product-price .price {
    font-family: var(--font-accent-2--family);
    font-style: var(--font-accent-2--style);
    font-weight: var(--font-accent-2--weight);
}

.justify-between {
  justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.cart-items__details * {
    line-height: 1.2em;
}

.cart-items__variants *, .cart-items__bundle * {
    font-size: var(--cart-font-size--xs) !important;
}

[data-hide-qty] .cart-items__quantity,[data-hide-qty] [headers="productTotal"], [data-hide-qty] .cart-title-price {
    display: none;
}

[data-free-gift].cart-items__table-row {
    pointer-events: none;
}

.cart-items__nested-line .cart-items__title {
    font-size: var(--font-size--sm);
}

.cart-items__nested-line .quantity-selector, .cart-items__table-row[data-cart-parent] .quantity-selector {
    display: none !important;
}

.cart-items__table-row[data-cart-parent] .discounts-allocated, .cart-items__nested-line .discounts-allocated {
    display: none !important;
}

.cart-items__remove {
    border: 0;
    cursor: pointer;
    position: relative;
    height: auto !important;
    display: block;
    width: auto !important;
    padding: 0;
    box-sizing: border-box;
}
.cart-items__remove:after {
    content: '';
    position: absolute;
    bottom: -.1rem;
    left: 0;
    width: 100%;
    height: .1rem;
    background: var(--color-foreground);
}

.cart-items__quantity {
    gap: var(--gap-lg) !important;
}

.cart-items__table-row.cart-items__nested-line td:first-child {
    width: 80%;
}

.menu-label {
    margin-left: var(--gap-xs);
    font-family: var(--font-paragraph--family);
    font-style: var(--font-paragraph--style);
    font-size: var(--font-paragraph--size);
}

.variant-option__button-label {
    min-height: 2.6em !important;
}

.quantity-selector * {
    font-weight: 600;
}

.product-form-buttons .quantity-selector {
    --icon-stroke-width: 2.5px !important;
}

@media (min-width: 990px) {
    :root {
        --menu-font-2xl--size: 2.5rem !important;
    }
}


@media (min-width: 750px) {
    .section--page-narrow {
        --page-margin: 40px;
    }
    .header-actions__action[data-testid="cart-drawer-trigger"] {
        align-items: center;
        gap: var(--gap-xs);
        font-family: var(--button-font-family-primary);
        text-transform: var(--button-text-case-primary);
        border-radius: var(--style-border-radius-buttons-primary);
        --button-color: var(--color-primary-button-text);
        --button-background-color: var(--color-primary-button-background);
        --button-border-color: var(--color-primary-button-border);
        --button-border-width: var(--style-border-width-primary);
        text-decoration: none;
        text-align: var(--text-align);
        color: var(--button-color);
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--button-background-color);
        border: none;
        font-family: var(--font-paragraph--family);
        font-style: var(--font-paragraph--style);
        font-size: var(--font-paragraph--size);
        line-height: var(--font-paragraph--line-height);
        margin-block: 0;
        transition: color var(--animation-speed) var(--animation-easing), box-shadow var(--animation-speed) var(--animation-easing), background-color var(--animation-speed) var(--animation-easing);
        cursor: pointer;
        width: fit-content;
        box-shadow: inset 0 0 0 var(--button-border-width) var(--button-border-color);
        padding-block: var(--button-padding-block);
        padding-inline: var(--button-padding-inline);
    }

    .resource-list__carousel {
        --peek-next-slide-size: 0rem;
    }

    .header-actions__action[data-testid="cart-drawer-trigger"] .svg-wrapper {
        height: auto;
        width: auto;
    }
    header-actions {
        gap: var(--gap-sm);
    }
}
@media (max-width: 749px) {
    :is(.carousel--mobile-full-width) > .resource-list__carousel, :is(.carousel--mobile-full-width) > .custom-section-content {
        grid-column: 1 / -1;
    }

    .carousel--mobile-full-width .resource-list__carousel[style*="--mobile-card-size: 100%;"] slideshow-slides {
        padding-inline: 0 !important;
        scroll-padding-inline-start: 0;
    }

    :is(.carousel--mobile-full-width) .featured-blog-posts-card__content {
        padding-inline: var(--page-margin);
    }

    .section--mobile-full-width .custom-section-content {
        grid-column: 1 / -1;
    }

    .mobile-group-column-reverse > .group-block-content {
        flex-direction: column-reverse !important;
    }

    .mobile-section-column-reverse {
        flex-direction: column-reverse !important;
    }

    .spacing-style[style*="--mobile-padding-block-start"] {
        padding-block: calc(var(--mobile-padding-block-start) + var(--section-top-offset, 0px)) var(--mobile-padding-block-end) !important;
    }

    .spacing-style[style*="--mobile-padding-inline-start"] {
        padding-inline: var(--mobile-padding-inline-start) var(--mobile-padding-inline-end) !important;
    }

    .spacing-style[style*="--mobile-margin-block-start"] {
        margin-inline: var(--mobile-margin-block-start) var(--mobile-margin-block-end) !important;
    }

    .spacing-style[style*="--mobile-margin-block-start"] {
        margin-inline: var(--mobile-margin-block-start) var(--mobile-margin-block-end) !important;
    }

    [style*="--mobile-font-size"],
    [style*="--mobile-font-size"] > * {
        font-size: var(--mobile-font-size) !important;
    }

    [style*="--mobile-border-radius"] {
        border-radius: var(--mobile-border-radius) !important;
    }

    .mobile-column[style*="--horizontal-mobile-alignment"] {
        align-items: var(--horizontal-mobile-alignment) !important;
    }

    .mobile-column[style*="--horizontal-mobile-alignment: flex-start"] {
        > .text-block {
            text-align: left;
        }
    }

    .mobile-column[style*="--horizontal-mobile-alignment: center"] {
        > .text-block, .text-block > * {
            text-align: center;
        }
    }

    [style*="--mobile-gap"] {
        gap: var(--mobile-gap) !important;
    }

    [style*="--mobile-ratio"] > img,  [style*="--mobile-ratio"] > video {
       aspect-ratio: var(--mobile-ratio) !important;
    }

    .resource-list--grid[style*="--resource-list-row-gap-mobile"]{
        row-gap: var(--resource-list-row-gap-mobile) !important; 
    }

    .use-height-icon[style*="--mobile-height"] img, .use-height-icon[style*="--mobile-height"] svg {
        height: var(--mobile-height) !important;
    }

    .header-actions__cart-icon {
        --cart-bubble-top: 3.5px !important;
        --cart-bubble-right: 4.5px !important;
    }

    .header-actions__cart-icon svg {
        width: 1.3rem !important;
        height: 1.3rem !important;
    }

    .media-gallery--carousel .slideshow-controls__thumbnails {
        width: 100% !important;
    }

    .media-gallery--carousel .slideshow-control {
        width: 100% !important;
    }

    .mobile-row-2 > .group-block-content {
        flex-flow: row wrap !important;
    }

    .mobile-row-2 .group-block {
        flex: 1 calc(50% - var(--gap) * 1 / 2) !important;
    }
}