.button-unstyled.slideshow-control.slideshow-control--shape-circle {
    width: var(--minimum-touch-target);
    height: var(--minimum-touch-target);
}


slideshow-controls.carousel-controls:has(.icon-pause) {
    justify-content: center !important;
}

slideshow-controls.carousel-controls .icon-pause,
slideshow-controls.carousel-controls .icon-play {
    display: none !important;
}

.text-block:not(.text-block--full-width):is(.h1,.h2,.h3,.h4,.h5,.h6) {
    text-wrap: unset !important;
}

:root {
    --button-padding-block: 12px !important;
}

.text-block:not(.text-block--full-width).rte, .text-block:not(.text-block--full-width).paragraph {
    text-wrap: unset !important;
}
 
.button,.button-secondary {
    font-weight: var(--font-accent--weight);
}

.header__column--left:has(.active-desktop-drawer) header-menu {
    display: none !important;
}

.header__drawer.active-desktop-drawer .menu-drawer__close-button {
    margin-left: auto;
}

.header__icon--summary .header-drawer-icon, .header-actions__action svg {
    width: var(--icon-size-lg) !important;
    height: var(--icon-size-lg) !important;
}

.mt-auto {
    margin-top: auto;
}

header-actions .account-button.header-actions__action {
    height: 100%;
}

.menu-drawer__close-button {
    border-radius: 50%;
    background: var(--color-foreground) !important;
    color: var(--color-background) !important;
    padding: var(--padding-md) !important;
    margin-top: var(--drawer-padding);
    margin-right: var(--drawer-padding);
}
.cart-bubble__background {
    background-color: #FFEDCA !important;
}

.header-actions__cart-icon .cart-bubble__text, .cart-drawer__heading .cart-bubble__text {
    font-family: var(--font-accent--family) !important;
    font-weight: var(--font-accent--weight) !important;
}

.header-actions__cart-icon .cart-bubble {
    width: var(--cart-bubble-size) !important;
}

.unit-price {
    display: none;
}

.menu-drawer__menu-item--mainlist {
    line-height: 1.2em !important;
}

.group-block .background-image-container.zoom-on-hover img, .zoom-on-hover img {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .3s;
}

.group-block:hover .background-image-container.zoom-on-hover img, .group-block__link:hover~.group-block-content .zoom-on-hover img, .zoom-on-hover:hover img,
.featured-blog-posts-card__link:hover ~ .featured-blog-posts-card__inner .zoom-on-hover img {
    transform: scale(1.03);
}

.zoom-on-hover {
    overflow: hidden;
    display: block;
    width: 100%;
}


slideshow-arrows {
    mix-blend-mode: unset;
}
slideshow-arrows .slideshow-control {
    color: var(--button-background-color);
}

.product-badges__badge {
    line-height: 1em;
}

.use-height-icon img, .use-height-icon svg {
    width: auto !important;
    height: var(--height) !important;
    object-fit: contain;
}

.slideshow-controls__dots button {
    --size: .4rem;
}

.email-signup__input, .email-signup__button--text {
    padding: var(--padding-sm) var(--padding-3xl) !important;
}

.section--page-narrow {
  --page-margin: 16px;
  --page-width: calc(78rem + (var(--page-margin) * 2)) !important;
}

    
.header-actions__cart-icon {
    /* --cart-bubble-size: 16px !important; */
    --cart-bubble-top: -4.5px !important;
    --cart-bubble-right: -5.5px !important;
}
.cart-bubble__text {
    font-size: var(--font-size--xs) !important;
}

.header-actions__cart-icon.header-actions__cart-icon--has-cart svg {
    mask: unset !important;
}

.avid-left-fab-button .avid-left-fab-button-icon {
    width: auto;
}
.avid-right-slide-text {
    display: flex;
    flex-direction: row;
    gap: var(--gap-xs);
}

.cart-discount .disclosure-trigger {
    padding-block: 0;
}

product-price .price {
    font-family: var(--font-accent-2--family);
    font-style: var(--font-accent-2--style);
    font-weight: var(--font-accent-2--weight);
}

.justify-between {
  justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.cart-items__details * {
    line-height: 1.2em;
}

.cart-items__variants *, .cart-items__bundle * {
    font-size: var(--cart-font-size--xs) !important;
}

[data-hide-qty] .cart-items__quantity,[data-hide-qty] [headers="productTotal"], [data-hide-qty] .cart-title-price {
    display: none;
}

[data-free-gift].cart-items__table-row {
    pointer-events: none;
}

.cart-items__bundle {
    font-size: var(--font-size--2xs);
}

.cart-items__nested-line .cart-items__title {
    font-size: var(--font-size--sm);
}

.cart-items__nested-line .quantity-selector, .cart-items__table-row[data-cart-parent] .quantity-selector {
    display: none !important;
}

.cart-items__table-row[data-cart-parent] .discounts-allocated, .cart-items__nested-line .discounts-allocated {
    display: none !important;
}
.cart-items__title {
    font-family: var(--font-heading--family) !important;
    font-style: var(--font-heading--style) !important;
    font-weight: var(--font-heading--weight) !important;
    font-size: var(--font-size--sm) !important;
}

.cart-items__remove {
    border: 0;
    cursor: pointer;
    position: relative;
    height: auto !important;
    display: block;
    width: auto !important;
    padding: 0;
    box-sizing: border-box;
}
.cart-items__remove:after {
    content: '';
    position: absolute;
    bottom: -.1rem;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--color-foreground);
}

.cart-items__quantity {
    gap: var(--gap-lg) !important;
}

.cart-items__table-row.cart-items__nested-line td:first-child {
    width: 80%;
}

.menu-label {
    margin-left: var(--gap-xs);
    font-family: var(--font-paragraph--family);
    font-style: var(--font-paragraph--style);
    font-size: var(--font-paragraph--size);
}

.variant-option__button-label,.packs-option__button-label {
    min-height: 2.6em !important;
}

.quantity-selector * {
    font-weight: 600;
}

.product-form-buttons .quantity-selector {
    --icon-stroke-width: 2.5px !important;
}

.variant-option {
    --variant-option-padding-inline: var(--padding-xl) !important;
}
.product-information__grid--limit-details .product-details > .group-block {
    --sidebar-width: 34rem !important;
}

product-price .price {
    font-family: var(--font-accent-2--family);
    font-style: var(--font-accent-2--style);
    font-weight: var(--font-heading--weight);
}

.accordion .details__header {
    padding-block: var(--padding-lg) !important;
}

.details-content h1,
.details-content h2,
.details-content h3,
.details-content h4,
.details-content h5 {
    margin-bottom: 0;
}

.shadow-box {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.03);
}

.accordion accordion-custom .details-content {
    padding: var(--padding-xs) var(--padding-md) var(--padding-xl) !important;
}

.accordion:has(.colored-accordion) {
    gap: var(--gap-sm);
    display: flex;
    flex-direction: column;
}

.details__header {
    --icon-stroke-width: 2px;
}
.accordion summary:hover {
    color: var(--color-primary) !important;
}


.cart-items__table-row {
    grid-template-areas:
        "media details price"
        "media quantity quantity "
        "media error error" !important;
}

.cart-items__table-row.cart-items__nested-line,[data-free-gift] {
    grid-template-columns: clamp(2.5rem, 15cqi, 7.5rem) minmax(0, 1fr) !important;
    grid-template-areas:
        "media details "
        "media error " !important;
}

/* [data-cart-parent] .cart-items__quantity-controls {
    gap: 0 !important;
}

[data-cart-parent] .cart-items__media-image {
    opacity: .2;
}


[data-cart-parent] {
    grid-template-areas:
    "details price"
    "quantity price"
    "error error" !important;
}

[data-cart-parent] .cart-items__media {
    display: none;
}
[data-cart-parent] {
    grid-template-areas:
    "details price"
    "details quantity"
    "error error" !important;
    grid-template-columns: minmax(0, 1fr) minmax(var(--cart-item-price-width), auto) !important;
} */

.cart-items__quantity-controls {
    width: 100% !important;
    justify-content: space-between !important;
}

.cart-items__quantity {
    width: 100% !important;
    justify-content: flex-end !important;
}
.slideshow-control:is(.icon-pause,.icon-play) {
    display: none;
}

summary .svg-wrapper.icon-caret {
    min-width: var(--icon-size-sm);
}

slideshow-slide > .slide__image-container {
    z-index: 0;
}

.slide__content .group-block-content {
    z-index: 1;
}

.slideshow-controls__dots button[aria-selected=true]:after {
    box-shadow: inset 0 0 0 1.5px var(--color) !important;
}

.slideshow-controls__dots button:after {
    box-shadow: none !important;
}

.quick-add__button .add-to-cart-text__content .dot-price,
.quick-add__button .add-to-cart-text__content .add-to-cart-price {
    display: none;
}

.add-to-cart-icon:not(.sticky-add-to-cart__bar .add-to-cart-icon):not(cart-upsell .add-to-cart-icon):not(.quick-add__product-form-component .add-to-cart-icon) {
    display: none;
}

.quick-add__button {
    border: 0 !important;
}

.quick-add__button .add-to-cart-icon {
    display: flex;
}

.quick-add__button .add-to-cart-icon {
    height: calc(var(--button-size-md) - 4px) !important;
    width: calc(var(--button-size-md) - 4px) !important;
}

.quick-add__button {
    height: auto !important;
}

cart-upsell {
    display: none;
    margin-top: var(--margin-lg);
    padding-top: var(--margin-lg);
    padding-bottom: var(--margin-lg);
    border-top: 1px solid var(--color-border);
}

cart-upsell:has(.upsell-item-column) {
    display: block;
}

.cart-page cart-upsell {
    max-width: 29rem;
}

.upsell-heading {
    display: block;
    margin-bottom: var(--margin-sm);
}

.upsell-item-column {
    width: calc(33.33% - var(--gap-md) * 2/3);
    max-width: calc(33.33% - var(--gap-md) * 2/3);
}


.cart-drawer__summary {
    gap: var(--gap-sm) !important;
}

.protection--buttons {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    margin-bottom: var(--margin-md);
}

.cart__total-container.cart__total-container--has-installments {
    row-gap: var(--gap-2xs) !important;
}

.cart__summary-totals {
    gap: var(--gap-sm) !important;
}

.normal__checkout-button {
    display: block;
    width: fit-content;
    background: transparent;
    border: 0;
    position: relative;
    margin: auto;
    cursor: pointer;
    padding: 0;
    font-weight: 500;
    font-family: var(--font-body--family);
    font-size: var(--font-size--sm);
    color: var(--color);
}

.normal__checkout-button:after {
  content: "";
  width: 100%;
  height: 0.05rem;
  background: var(--color-foreground);
  display: block;
  position: absolute;
  bottom: -0.1rem;
}

.normal__checkout-button[disabled] {
    opacity: .5;
    cursor: not-allowed;
}

.loading-button--icon {
    display: none;
    width: 100%;
}
.loading-button--icon svg {
    width: 100%;
    height: 1.5rem;
    margin: auto;
}

.normal__checkout-button .loading-button--icon svg circle {
    fill: var(--button-background-color) !important;
    stroke: var(--button-background-color) !important;
}

.protection__checkout-button.is-loading, .normal__checkout-button.is-loading {
    position: relative;
}

.is-loading .button--text {
    display: none;
}

.is-loading .loading-button--icon {
    display: block;
}

.normal__checkout-button.is-loading:after {
    content: unset !important;
}

[data-shipping-protection] cart-quantity-selector-component {
    display: none !important;
}

[data-shipping-protection] a {
    pointer-events: none;
}

.cart-items__quantity .quantity-selector {
    --style-border-radius-inputs: 40px !important;
}

.shipping-summary .flex {
    gap: var(--gap-2xs);
}

.shipping-summary svg {
    display: block;
    fill: var(--color-foreground);
    width: auto;
    height: var(--icon-size-xs);
}

details {
    -webkit-tap-highlight-color: transparent;
}

.shipping-summary {
    padding-top: 0;
    font-size: var(--font-size--sm);
}

.shipping-content {
    padding: var(--padding-xs) 0 var(--padding-lg);
    padding-top: 0;
    margin-top: calc(-1 * var(--margin-xs));
    font-size: var(--font-size--sm);
}

.jdgm-horizon-widget:has([data-number-of-reviews="0"]) {
    display: none;
}

.bt-only {
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.br-only {
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
}

video-media {
  width: 100%;
  height: 100%;
  aspect-ratio: var(--video-aspect-ratio, auto);
}

video-media img {
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

video-media video {
  /* only apply this on the video block not product media */
  object-fit: cover;
  height: 100%;
  aspect-ratio: var(--size-style-aspect-ratio, auto);
}

.product-card__content .dot-price, .product-card__content .add-to-cart-price {
    display: none;
}

.product-card__content .product-form-buttons button {
    width: fit-content;
    padding-block: var(--padding-xs) !important;
    margin-inline: auto;
    height: auto;
    font-size: var(--font-size--sm) !important;
    padding-inline: var(--padding-xl);
}

.product-card .product-badges__badge--rectangle {
    position: relative;
    --badge-rectangle-padding-block: 4px;
    margin-right: 13px;
    font-weight: 600;
}

/* right rectangle extension with V-notch cut */
.product-card .product-badges__badge--rectangle::after {
    content: "";
    position: absolute;
    top: 0;
    right: -13px;
    width: 14px;
    height: 100%;
    background: inherit; /* inherits the badge background color */
    clip-path: polygon(0 0, 100% 0, 50% 50%, 100% 100%, 0 100%);
}

.compare-at-price {
    opacity: .6 !important;
    text-decoration-thickness: 1px !important;
}

.slideshow-controls__dots button {
    --size: .4rem !important;
}

@media (min-width: 990px) {
    :root {
        --menu-font-2xl--size: 2.5rem !important;
    }
}


@media (min-width: 750px) {
    .section--page-narrow {
        --page-margin: 40px;
    }
    .header-actions__action[data-testid="cart-drawer-trigger"] {
        align-items: center;
        gap: var(--gap-xs);
        font-family: var(--button-font-family-primary);
        text-transform: var(--button-text-case-primary);
        border-radius: var(--style-border-radius-buttons-primary);
        --button-color: var(--color-primary-button-text);
        --button-background-color: var(--color-primary-button-background);
        --button-border-color: var(--color-primary-button-border);
        --button-border-width: var(--style-border-width-primary);
        text-decoration: none;
        text-align: var(--text-align);
        color: var(--button-color);
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--button-background-color);
        border: none;
        font-family: var(--font-paragraph--family);
        font-style: var(--font-paragraph--style);
        font-size: var(--font-paragraph--size);
        line-height: var(--font-paragraph--line-height);
        margin-block: 0;
        transition: color var(--animation-speed) var(--animation-easing), box-shadow var(--animation-speed) var(--animation-easing), background-color var(--animation-speed) var(--animation-easing);
        cursor: pointer;
        width: fit-content;
        box-shadow: inset 0 0 0 var(--button-border-width) var(--button-border-color);
        padding-block: var(--button-padding-block);
        padding-inline: var(--button-padding-inline);
    }

    .resource-list__carousel {
        --peek-next-slide-size: 0rem;
    }

    .header-actions__action[data-testid="cart-drawer-trigger"] .svg-wrapper {
        height: auto;
        width: auto;
    }
    header-actions {
        gap: var(--gap-sm);
    }

    .buy-buttons-block .button[id^=BuyButtons-ProductSubmitButton-] {
        font-size: var(--font-size--lg);
    }

    .cart-drawer__summary {
        --cart-drawer-summary-padding: var(--padding-lg) var(--padding-2xl) !important;
    }
}

@media (max-width: 749px) {
    :is(.carousel--mobile-full-width) > .resource-list__carousel, :is(.carousel--mobile-full-width) > .custom-section-content {
        grid-column: 1 / -1;
    }

    .carousel--mobile-full-width .resource-list__carousel[style*="--mobile-card-size: 100%;"] slideshow-slides {
        padding-inline: 0 !important;
        scroll-padding-inline-start: 0;
    }

    :is(.carousel--mobile-full-width) .featured-blog-posts-card__content {
        padding-inline: var(--page-margin);
    }

    .section--mobile-full-width .custom-section-content {
        grid-column: 1 / -1;
    }

    .mobile-group-column-reverse > .group-block-content {
        flex-direction: column-reverse !important;
    }

    .mobile-section-column-reverse {
        flex-direction: column-reverse !important;
    }

    .spacing-style[style*="--mobile-padding-block-start"] {
        padding-block: calc(var(--mobile-padding-block-start) + var(--section-top-offset, 0px)) var(--mobile-padding-block-end) !important;
    }

    .spacing-style[style*="--mobile-padding-inline-start"] {
        padding-inline: var(--mobile-padding-inline-start) var(--mobile-padding-inline-end) !important;
    }

    .spacing-style[style*="--mobile-margin-block-start"] {
        margin-inline: var(--mobile-margin-block-start) var(--mobile-margin-block-end) !important;
    }

    .spacing-style[style*="--mobile-margin-block-start"] {
        margin-inline: var(--mobile-margin-block-start) var(--mobile-margin-block-end) !important;
    }

    [style*="--mobile-font-size"],
    [style*="--mobile-font-size"] > * {
        font-size: var(--mobile-font-size) !important;
    }

    [style*="--mobile-border-radius"] {
        border-radius: var(--mobile-border-radius) !important;
    }

    .mobile-column[style*="--horizontal-mobile-alignment"] {
        align-items: var(--horizontal-mobile-alignment) !important;
    }

    .mobile-column[style*="--horizontal-mobile-alignment: flex-start"] {
        > .text-block {
            text-align: left;
        }
    }

    .mobile-column[style*="--horizontal-mobile-alignment: center"] {
        > .text-block, .text-block > * {
            text-align: center;
        }
    }

    [style*="--mobile-gap"] {
        gap: var(--mobile-gap) !important;
    }

    [style*="--mobile-ratio"] > img,  [style*="--mobile-ratio"] > video {
       aspect-ratio: var(--mobile-ratio) !important;
    }

    .resource-list--grid[style*="--resource-list-row-gap-mobile"]{
        row-gap: var(--resource-list-row-gap-mobile) !important; 
    }

    .use-height-icon[style*="--mobile-height"] img, .use-height-icon[style*="--mobile-height"] svg {
        height: var(--mobile-height) !important;
    }

    .header-actions__cart-icon {
        --cart-bubble-top: 3.5px !important;
        --cart-bubble-right: 4.5px !important;
    }

    .header-actions__cart-icon svg {
        width: 1.3rem !important;
        height: 1.3rem !important;
    }

    .media-gallery--carousel .slideshow-controls__thumbnails {
        width: 100% !important;
    }

    .media-gallery--carousel .slideshow-control {
        width: 100% !important;
    }

    .mobile-row-2 > .group-block-content {
        flex-flow: row wrap !important;
    }

    .mobile-row-2 .group-block {
        flex: 1 calc(50% - var(--gap) * 1 / 2) !important;
    }

    .quick-add__button.add-to-cart-button {
        height: var(--button-size-sm) !important;
        width: var(--button-size-sm) !important;
        justify-content: center;
    }

    .quick-add__button .add-to-cart-icon {
        height: calc(var(--button-size-xs) - 4px) !important;
        width: calc(var(--button-size-xs) - 4px) !important;
    }
}