.button-unstyled.slideshow-control.slideshow-control--shape-circle {
    width: var(--minimum-touch-target);
    height: var(--minimum-touch-target);
}


slideshow-controls.carousel-controls:has(.icon-pause) {
    justify-content: center !important;
}

slideshow-controls.carousel-controls .icon-pause,
slideshow-controls.carousel-controls .icon-play {
    display: none !important;
}

:root {
    --button-padding-block: 12px !important;
}

.button {
    font-weight: var(--font-accent--weight);
}

.header__drawer.active-desktop-drawer + header-menu {
    display: none !important;
}

.header__drawer.active-desktop-drawer .menu-drawer__close-button {
    margin-left: auto;
}
.header__icon--summary .header-drawer-icon {
    width: var(--icon-size-lg) !important;
    height: var(--icon-size-lg) !important;
}

.menu-drawer__close-button {
    border-radius: 50%;
    background: var(--color-foreground) !important;
    color: var(--color-background) !important;
    padding: var(--padding-md) !important;
    margin-top: var(--drawer-padding);
    margin-right: var(--drawer-padding);
}
.cart-bubble__background {
    background-color: #FFEDCA !important;
}

.header-actions__cart-icon .cart-bubble__text, .cart-drawer__heading .cart-bubble__text {
    font-family: var(--font-accent--family) !important;
    font-weight: var(--font-accent--weight) !important;
}

.header-actions__cart-icon {
    --cart-bubble-size: 16px !important;
    --cart-bubble-top: 4.5px !important;
    --cart-bubble-right: 10.5px !important;
}

.header-actions__cart-icon .cart-bubble {
    width: var(--cart-bubble-size) !important;
}

@media (min-width: 990px) {
    :root {
        --menu-font-2xl--size: 2.5rem !important;
    }
}


@media (min-width: 750px) {
    .header-actions__action[data-testid="cart-drawer-trigger"] {
        align-items: center;
        gap: var(--gap-xs);
        font-family: var(--button-font-family-primary);
        text-transform: var(--button-text-case-primary);
        border-radius: var(--style-border-radius-buttons-primary);
        --button-color: var(--color-primary-button-text);
        --button-background-color: var(--color-primary-button-background);
        --button-border-color: var(--color-primary-button-border);
        --button-border-width: var(--style-border-width-primary);
        text-decoration: none;
        text-align: var(--text-align);
        color: var(--button-color);
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--button-background-color);
        border: none;
        font-family: var(--font-paragraph--family);
        font-style: var(--font-paragraph--style);
        font-size: var(--font-paragraph--size);
        line-height: var(--font-paragraph--line-height);
        margin-block: 0;
        transition: color var(--animation-speed) var(--animation-easing), box-shadow var(--animation-speed) var(--animation-easing), background-color var(--animation-speed) var(--animation-easing);
        cursor: pointer;
        width: fit-content;
        box-shadow: inset 0 0 0 var(--button-border-width) var(--button-border-color);
        padding-block: var(--button-padding-block);
        padding-inline: var(--button-padding-inline);
    }

    .header-actions__action[data-testid="cart-drawer-trigger"] .svg-wrapper {
        height: auto;
        width: auto;
    }
}
@media (max-width: 749px) {
    :is(.carousel--mobile-full-width) > .resource-list__carousel, :is(.carousel--mobile-full-width) > .custom-section-content {
        grid-column: 1 / -1;
    }

    .carousel--mobile-full-width .resource-list__carousel[style*="--mobile-card-size: 100%;"] slideshow-slides {
        padding-inline: 0 !important;
        scroll-padding-inline-start: 0;
    }

    :is(.carousel--mobile-full-width) .featured-blog-posts-card__content {
        padding-inline: var(--page-margin);
    }

    .section--mobile-full-width .custom-section-content {
        grid-column: 1 / -1;
    }

    .mobile-group-column-reverse > .group-block-content {
        flex-direction: column-reverse !important;
    }

    .mobile-section-column-reverse {
        flex-direction: column-reverse !important;
    }

    .spacing-style[style*="--mobile-padding-block-start"] {
        padding-block: calc(var(--mobile-padding-block-start) + var(--section-top-offset, 0px)) var(--mobile-padding-block-end) !important;
    }

    .spacing-style[style*="--mobile-padding-inline-start"] {
        padding-inline: var(--mobile-padding-inline-start) var(--mobile-padding-inline-end) !important;
    }

    .spacing-style[style*="--mobile-margin-block-start"] {
        margin-inline: var(--mobile-margin-block-start) var(--mobile-margin-block-end) !important;
    }

    .spacing-style[style*="--mobile-margin-block-start"] {
        margin-inline: var(--mobile-margin-block-start) var(--mobile-margin-block-end) !important;
    }

    [style*="--mobile-font-size"],
    [style*="--mobile-font-size"] > * {
        font-size: var(--mobile-font-size) !important;
    }

    [style*="--mobile-border-radius"] {
        border-radius: var(--mobile-border-radius) !important;
    }

    .mobile-column[style*="--horizontal-mobile-alignment"] {
        align-items: var(--horizontal-mobile-alignment) !important;
    }

    .mobile-column[style*="--horizontal-mobile-alignment: flex-start"] {
        > .text-block {
            text-align: left;
        }
    }

    .mobile-column[style*="--horizontal-mobile-alignment: center"] {
        > .text-block, .text-block > * {
            text-align: center;
        }
    }

    [style*="--mobile-gap"] {
        gap: var(--mobile-gap) !important;
    }

    [style*="--mobile-ratio"] > img,  [style*="--mobile-ratio"] > video {
       aspect-ratio: var(--mobile-ratio) !important;
    }
}